<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241452812932-b1hjetrthdp1uu3ml5rlepr5sjn35v79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241452812932-b1hjetrthdp1uu3ml5rlepr5sjn35v79</string>
	<key>API_KEY</key>
	<string>AIzaSyDkiXVqme_eaoJ9L2dlkPQLTo9ZoA8M9zk</string>
	<key>GCM_SENDER_ID</key>
	<string>241452812932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.northeastern.qianli.InstaPicture</string>
	<key>PROJECT_ID</key>
	<string>spring2023-2600c</string>
	<key>STORAGE_BUCKET</key>
	<string>spring2023-2600c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241452812932:ios:00a2b2a5d5d2902d1510d1</string>
</dict>
</plist>